{
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    ["relay", {"compat": true, "schema": "./data/schema.graphql"}],
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    ["module-alias", [
      { "src": "./src/www_shared", "expose": "shared" },
      { "src": "./src/helpers", "expose": "helpers" },
      { "src": "./src/resources", "expose": "resources" }
    ]]
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  },
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
